extends layout

block content
	.center
		h1 move the hand

		- for (var i = 1; i < 6; i++) 
			button(type="submit" id=i)
				| #{i}
		p
		img(src="http://www.epianostudio.com/wp-content/uploads/2008/10/fingering.jpg")

	script(src='/javascripts/index-client.js')